extends layouts/main

block title
    | Login

block content
    .container
        h1.text-center I am so sorry.
        h3.text-center Anonymous access is not allowed.
        p.text-center Access Ximera using your assignments in Canvas.
